<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rave Sample Apps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="navbar bg-warning">
        <h1 class="text-dark text-center">Python Rave Sample Apps</h1>

    </div>

    <div class="container">
        <h4 class="text-dark text-center ">Pick a Sample App</h4>

        <div class="list-group">
            <a href="{% url 'webhook' %}" class="list-group-item list-group-item-action">
                <h5 class="text-center ">Webhook</h5>
            </a>
            <a href="{% url 'subscriptions' %}" class="list-group-item list-group-item-action">
                <h5 class="text-center ">Subscriptions</h5>
            </a>
            <a href="{% url 'transfer' %}" class="list-group-item list-group-item-action">
                <h5 class="text-center ">Transfers</h5>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="text-center ">Paymentplan</h5>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="text-center "></h5>
            </a>
        </div>

    </div>
</body>

</html>