<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rave Subscriptions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Subscriptions</li>
        </ol>
    </nav>


    <div class="container">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6">
                    <br><br><br><br>
                    <strong>Click on the button to list all subscriptions</strong>
                    <br>
                    <button type="button" id="list" class="btn btn-primary p-3">List all Subscriptions</button>
                </div>
                <br>
                <div class="col-sm-6">
                    <form method="POST" name="id_form">
                        {% csrf_token %}
                        <div class="alert alert-danger hide errorOne" role="alert">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter your subscription id</label>
                            <input type="number" class="form-control" id="sub_id" placeholder="1155" minlength="1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter your subscription email</label>
                            <input type="email" class="form-control" id="sub_email" placeholder="user@gmail.com"
                                minlength="1">
                        </div>
                        <button type="button" id="fetch_sub" class="btn btn-primary">Fetch a subscription</button>
                    </form>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form method="POST" name="id_form">
                        {% csrf_token %}
                        <div class="alert alert-danger hide errorTwo" role="alert">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter your subscription id</label>
                            <input type="number" class="form-control" id="cancel_id" placeholder="1155" minlength="1">
                        </div>
                        <button type="button" id="cancel_sub" class="btn btn-primary">Cancel a subscription</button>
                    </form>
                    <br>

                </div>
                <div class="col-sm-6">
                    <form method="POST" name="id_form">
                        {% csrf_token %}
                        <div class="alert alert-danger hide errorThree" role="alert">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter your subscription id</label>
                            <input type="number" class="form-control" id="activate_id" placeholder="1155" minlength="1">
                        </div>
                        <button type="button" id="activate_sub" class="btn btn-primary">Activate a subscription</button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="col-sm-5 h-100 bg-primary">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">response</p>
                    <pre id="response" style="height:200px;"></pre>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">NOTE</h4>
                    <p>The subscription id can be gotten in the response from a successful subscription charge</p>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
    </footer>

    {% load static %}
    <script src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script src="{% static 'js/subscriptions.js' %}"></script>
</body>

</html>