<!-- the_weather/weather/templates/weather/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rave Subscriptions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="navbar bg-warning">
        <h1 class="text-dark text-center">Subscriptions</h1>

    </div>

    <div class="container">

        <div class="col-sm-8">

            <div class="row mb-2">

                <button type="button" class="btn btn-warning">List all Subscriptions</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-warning">Warning</button>
            </div>


        </div>
        <div class="col-sm-4 text-wrap  border border-warning">
            <p class="text-center">response</p>
            <span class="title">{{ subscriptions.status }}</span>
            <br>
            <span class="subtitle">{{ subscriptions.message}}</span>

        </div>
    </div>

    <footer class="footer">
    </footer>
    <!--     
    {% load static %}
    <script src={% static 'static_jquery/js/jquery.js' %}></script> -->

</body>

</html>